@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto';
}

.box {
  width: 375px;
  height: 812px;
  background: #3767AD;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  height: 200px;
  margin: 0 0 64px;
}

.bike {
  background-image: url(/src/assets/img/img_538818.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #3767AD;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: #FFFFFF;
  height: 300px;
  margin: 0;
  &__number {
    display: block;
    text-align: center;
    justify-content: flex-end;
    color: #ffffff;
    background-color: #3767AD;
    margin-bottom: 50px;
    border-radius: 6px;
  }
  &__add {
    display: block;
    width: 150px;
    background: #3767AD;
    color: #F5E5E7;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
  }
  &__remove {
    display: flex;
    display: block;
    width: 150px;
    justify-content: center;
    text-align: center;
    background: #3767AD;
    color: #F5E5E7;
    margin: 0 auto;
    border-radius: 6px;
  }
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 10px;
  padding: 10px;
}
 
.distance {
  height: 200px;
  justify-content: center;
  align-items: center;
  &__number {
    font-family: Roboto;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}