@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  width: 375px;
  height: 812px;
  background: #3767AD;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  height: 200px;
  margin: 0;
}

.bike {
  background-image: url(/src/assets/img/img_538818.png);
  background-color: #3767AD;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  height: 400px;
  margin: 0;
  &__number {
    font-family: Roboto;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    text-align: center;
    align-content: flex-start;
    color: #000000;
    background-color: #3767AD;
  }
  &__add {
    display: block;
    width: 150px;
  }
  &__remove {
    display: flex;
    display: inline-block;
    width: 150px;
    justify-content: center;
    text-align: center;
    background: #3767AD;
    color: #F5E5E7;
  }
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 10px;
  padding: 10px;
}
 
.distance {
  width: 100%;
  justify-content: center;
  &__number {
    font-family: Roboto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0;
  }
}